{#
/**
 * @file
 * Default theme implementation of a field item wrapper used to wrap single field item.
 *
 * Available variables:
 * - wrapper_tag: HTML wrapper tag.
 * - attributes: HTML attributes for the containing element.
 * - children: The rendered child elements of the container.
 *
 * @see template_preprocess_field_item_wrapper()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  ]
%}
<{{ wrapper_tag }} {{ attributes.addClass(classes) }}>{{ children }}</{{ wrapper_tag }}>
